<div class="skillSelector">
  <div class="skillPreview">
    <div class="skillPreviewList">
        @for (skill of employeeDto?.skillSet; track skill) {
            <span data-id='{{skill.id}}'>{{skill.skill}} - </span>
        }
    </div>
    <span class="skillDownArrow" id="skillSelectorVisibilitySwitch" (click)="switchSkillSelectorVisiblitiy()"><</span>
  </div>
  <div id="skillSearch">
    <input [(ngModel)]="searchText" (keydown)="filterSkills()" (keyup)="filterSkills()" id="searchInput" placeholder="Suchen...">
    <div class="skillsSelected">
        @for (skill of employeeDto?.skillSet; track skill) {
            <span (click)="removeSkillFromEmployee(skill.id)">{{skill.skill}} x</span>
        }
    </div>
    <hr>
    <div class="skillsList">
        @for (skill of filteredSkillList; track skill) {
            <span (click)="addSkillToEmployee(skill.id)">{{skill.skill}}</span>
        }
        @if (filteredSkillList.length == 0 && searchText != ""){
            <span (click)="addNewSkillToDatabase(searchText)">'{{searchText}}' anlegen</span>
        }
    </div>
  </div>
</div>
