.skillPreview {
  background: var(--dark-grey);
  border: #ffffff2b 1px solid;
  font-size: 13px;
  background: var(--dark-grey);
  padding: 10px 15px;
  border-radius: 10px;
  color: white;
  height: 15px;
  overflow: hidden;
  position: relative;
  user-select: none;
  cursor: pointer;
}
.skillPreviewList{
  pointer-events: none;
}
.skillDownArrow {
  position: absolute;
  top: 0;
  right: 0;
  transform: rotate(-90deg);
  color: white;
  padding: 10px 15px;
  background: var(--dark-grey);
}
.skillUpArrow {
  transform: rotate(90deg);
}
#skillSearch {
  background: var(--base-color);
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  display: none;
}
#skillSearch > input {
  width: -webkit-fill-available;
  margin-bottom: 10px;
  border: none;
  background: white;
  color: black;
  border-radius: 100px;
}
.skillsSelected {
  display: flex;
  gap: 5px;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 13px;
}
.skillsSelected > span {
  border-radius: 10px;
  padding: 10px 15px;
  display: block;
  background: var(--dark-grey);
  cursor: pointer;
}
.skillsList {
  display: flex;
  flex-direction: column;
  overflow:scroll;
  max-height: 100px;
  margin: 5px;
}
.skillsList > span {
  cursor: pointer;
}
