form {
  display: flex;
  flex-direction: row;
  gap: 3vw;
  width: 76vw;
  justify-content: space-between;
  align-items: center;
  height: 70vh;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50vw;
  height: 55vh;
}

.inputField {
  display: flex;
  flex-direction: column;
}

.invalidField {
  border: red 1px solid;
}
