<div class="skills-container">
  <div class="heading">
    <h1>Qualifikationen</h1>

    <!-- Eingabe für neuen Skill -->
    <div class="new-skill-form">
      <input type="text" [(ngModel)]="newSkillName" placeholder="Skill Name eingeben" />
      <button (click)="addSkill()">Anlegen</button>
    </div>
  </div>

  <!-- Tabelle mit Skills -->
  <table>
    <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Mitgliederanzahl</th>
      <th>Aktionen</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let skill of skills">
      <td style="width:10%">{{ skill.id }}</td>
      <td style="width:50%">
        <input *ngIf="skill.isEditing" [(ngModel)]="skill.name" />
        <span *ngIf="!skill.isEditing">{{ skill.name }}</span>
      </td>
      <td style="width:10%">{{ skill.memberCount }}</td>
      <td style="width:30%">
        <button *ngIf="!skill.isEditing" (click)="editSkill(skill)">Bearbeiten</button>
        <button *ngIf="skill.isEditing" (click)="saveSkill(skill)">Speichern</button>
        <button *ngIf="skill.isEditing" (click)="cancelEdit(skill)">Abbrechen</button>
        <button *ngIf="!skill.isEditing" (click)="deleteSkill(skill.id)">Löschen</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
