<div class="skills">
  <div class="heading">
    <h1>Qualifikationen</h1>

    <!-- Eingabe für neuen Skill -->
  </div>

  <div class="headbar">
    <input type="text" [(ngModel)]="newSkillName" (keyup.enter)="addSkill()" placeholder="Skill Name eingeben"/>
    <button class="greenButton" (click)="addSkill()">Anlegen</button>
  </div>
  <!-- Tabelle mit Skills -->
  <table>
    <tr class="table-header">
      <th>ID</th>
      <th>Name</th>
      <th>Mitgliederanzahl</th>
      <th>Aktionen</th>
    </tr>
    @for (skill of skills; track skill.id) {
      <tr>
        <td>{{ skill.id }}</td>
        <td>
          @if (isToEdit(skill)) {
            <input (keyup.enter)="saveSkill()" type="text" [(ngModel)]="skill.skill">
          } @else {
            <span>{{ skill.skill }}</span>
          }
        </td>
        <td>{{ skillCounts.get(skill.id) }}</td>
        <td class="action-buttons">
          @if (isToEdit(skill)) {
            <button class="greenButton" (click)="saveSkill()">Speichern</button>
            <button class="redButton" (click)="cancelEdit()">Abbrechen</button>
          } @else {
            <button class="greenButton" (click)="edit(skill)">Bearbeiten</button>
            <button class="redButton" (click)="deleteSkill(skill.id)">Löschen</button>
          }
        </td>
      </tr>
    }
  </table>
</div>
