<div class="employees">
  <div class="heading">
    <h1>Mitarbeiter</h1>
  </div>
  <div class="headbar">
    <input id="qualification" type="text" (input)="filterEmployees()" placeholder="Nach Qualifikation Filtern"
           [(ngModel)]="qualification"/>
    <button routerLink="/employees/add" class="greenButton">Neuer Mitarbeiter</button>
  </div>

  <table>
    <tr class="table-header">
      <th>ID</th>
      <th>Name</th>
      <th>Telefonnummer</th>
      <th>Qualifikation</th>
      @if ((employees$ | async)?.length != 0) {
        <th>Aktion</th>
      }
    </tr>
    @for (employee of employees$ | async; track employee.id) {
      <tr>
        <td>{{ employee.id }}</td>
        <td>{{ employee.firstName + " " + employee.lastName }}</td>
        <td>{{ employee.phone }}</td>
        <td>@for (skill of employee.skillSet; track $index) {
          @if ($index == $count - 1) {
            {{ skill.skill }}
          } @else {
            {{ skill.skill + ", " }}
          }
        }</td>
        <td class="action-buttons">
          <button (click)="this.navigateToEdit()" class="greenButton">Bearbeiten</button>
          <button class="redButton" (click)="deleteEmployee(employee.id)">Löschen</button>
        </td>
      </tr>
    }
  </table>
</div>
