<div class="heading">
  <h1>Mitarbeiter</h1>
  <div class="new-skill-form">
    <button routerLink="/employees/add" class="greenButton">Neuer Mitarbeiter</button>
  </div>
</div>

<table>
    <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Telefonnummer</th>
      <th>
        <div class="inputField">
          <label style="padding-right: 5px">Qualifikation</label>
          <input id="qualification" type="text" style="height: 25px" (input)="filterEmployees()" placeholder="Nach Qualifikation Filtern" [(ngModel)]="qualification"/>
        </div>
      </th>
      @if ((employees$ | async)?.length != 0) {
        <th>Aktion</th>
      }
    </tr>
    </thead>
  <tbody>
    @for (employee of employees$ | async; track employee.id) {
      <tr>
        <td>{{employee.id}}</td>
        <td>{{ employee.firstName + " " + employee.lastName }}</td>
        <td>{{ employee.phone }}</td>
        <td>@for (skill of employee.skillSet; track $index) {
          @if ($index == $count-1)
          {
            {{skill.skill}}
          } @else {
            {{skill.skill + ", "}}
          }
        }</td>
        <td>
          <a [routerLink]="['/employees/edit', employee.id]">
            <button>Bearbeiten</button>
          </a>
          <button (click)="deleteEmployee(employee.id)">Löschen</button>
        </td>
      </tr>
    }
  </tbody>
</table>
