.sidebar {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: var(--base-color);
}
.links {
  padding: 10px;
  display: flex;
  flex-direction: column;
}
p {
  color: lightgrey;
}
a {
  color: white;
  font-size: 20px;
}
