<div class="dashboard">
  <div class="top-skill-container">
    <div class="top-skill" style="background-color: red">
      <p>{{first?.skillName}}</p>
      <p>{{first?.numberOfPeople}}</p>
    </div>
    <div class="top-skill" style="background-color: green">
      <p>{{second?.skillName}}</p>
      <p>{{second?.numberOfPeople}}</p>
    </div>
    <div class="top-skill" style="background-color: blue">
      <p>{{third?.skillName}}</p>
      <p>{{third?.numberOfPeople}}</p>
    </div>
  </div>
</div>
