:root {
  --base-color: #303030;
  --dark-grey: #1E1E1E;
}
body{
  margin: 0;
  font-family: Arial, sans-serif;
}
.page > *:nth-child(2) {
  color: white;
  background: var(--base-color);
  padding: 15px;
  border-radius: 5px;
  flex: 1;
  overflow: scroll;
}
.heading{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Tabelle */
table {
  width: 100%;
  border-collapse: collapse;
  background-color: #2a2a2a;
  border-radius: 10px;
  overflow: hidden;
}

th, td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #444;
  color: #fff;
}

th {
  background-color: #3e3e3e;
  text-transform: uppercase;
  font-size: 0.9rem;
}

tr:hover {
  background-color: #444;
}

button {
  padding: 8px 12px;
  font-size: 0.9rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #555;
}
input {
  background: var(--dark-grey);
  border: #ffffff2b 1px solid;
  padding: 10px 15px;
  border-radius: 5px;
  color: #ffffff85;
}

h1{
  margin-top: 0;
}
