:root {
  --base-color: #303030;
  --dark-grey: #1E1E1E;
}
body{
  margin: 0;
  padding: 0;
  min-width: 100vw;
  font-family: Arial, sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}
.page > *:nth-child(2) {
  color: white;
  background: var(--base-color);
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 5px;
  flex: 1;
  height: 88vh;
  width: 80vw;
  margin-left: -2vw;
}
.heading{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Tabelle */
table {
  display: flex;
  flex-direction: column;
  background-color: #2a2a2a;
  border-radius: 10px;
  width: 76vw;
  margin: 0;
  padding: 0;
  border: none;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 60vh;
}

table::-webkit-scrollbar {
  display: none;
}

.table-header {
  background-color: #3e3e3e;
  text-transform: uppercase;
}

tr {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  width: inherit;
  height: 10vh;
  border-radius: inherit;
  border: none;
}

td, th{
  width: 15vw;
  height: 10vh;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.action-buttons {
  display: flex;
  gap: 1vw;
}

tr:hover {
  background-color: #444;
}

button {
  padding: 8px 12px;
  font-size: 0.9rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.1s;
}

button:hover {
  background-color: #555;
  color: white;
}

.greenButton {
  background-color: #4caf50;
  color: white;
}

.greenButton:hover {
  background-color: #45a049;
}

.redButton {
  background-color: #f44336;
  color: white;
}

.redButton:hover {
  background-color: #e53935;
}

input {
  background: var(--dark-grey);
  border: #ffffff2b 1px solid;
  padding: 10px 15px;
  border-radius: 10px;
  color: white;
}

h1{
  margin-top: 0;
}

.employees, .skills, .employee-edit{
  display: flex;
  flex-direction: column;
  height: 80vh;
  width: 76vw;
  margin: 0;
  border: none;
  padding-right: 2vw;
  padding-left: 2vw;
  padding-top: 4vh;
  padding-bottom: 4vh;
}

.headbar {
  display: flex;
  justify-content: space-between;
  width: 30vw;
  align-items: center;
  align-self: flex-end;
  margin-top: 10vh;
  margin-bottom: 1vh;
}

.headbar button {
  width: 12vw;
}
